/*
Vantaiit@gmail.com
*/
body{
    padding: 0px; margin: 0px;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none !important;
}
a:hover{
    color: #7ebb4c !important;
}
.container{
    width: 1024px;
}

.menu-top li{
    float: left; padding: 5px 10px;
}
.clear{
    clear: both;
}
.form-search{
    width: 327px;
    float: right;
    padding-bottom: 10px;
}
header{

}

header .logo{
    display: inline-block;
    margin-top: 40px;
}
.navbar-seldat{
    background: url("../images/bg-main-menu.png");
    border-radius: 5px;
    min-width: 980px;
    height: 45px;
    margin-bottom: 10px;
}
.navbar-seldat .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #ffffff;
}
.navbar-seldat .navbar-nav>li>a{

    padding-right: 30px;
    color: #ffffff;
}
.navbar-seldat>ul>li{
    float: left;
}
.navbar-seldat>ul>li>a{
    padding: 11px 30px;
    display: inline-block;
    color: #ffffff;
    font-size: 17px;
}
.navbar-seldat>ul>li:hover>a{
    color: #80bd4d;
    background: #ffffff;
}

.navbar-seldat  .nav>li>a:hover, .navbar-seldat .nav>li>a:focus, .navbar-seldat .nav>li>a:hover {
    background-color: #7ebb4c;
    border-color: #337ab7
}
.navbar-seldat  .nav .open>a, .navbar-seldat .open>a:focus, .navbar-seldat .open>a:hover {

    border-color: #337ab7
}
#menu-top-menu li{
    float: left; padding: 10px 15px
}
#menu-top-menu>li>a{
font-size: 13px; color: #808080;
}
.menu_top_menu>li{
    text-decoration: none;
    list-style: none;
    padding: 10px 0px;
}
.navbar-seldat>ul>li:hover{
    color: #cccccc !important;

}
.navbar-seldat>ul>li:focus{
    color: #cccccc !important;
    background: #ffffff;
}
.carousel-inner{
    position: relative;
}
.carousel-caption {
    width: 388px;
    height: 244px;
    position: absolute;
    left: 40px;
    top: 60px;
    background: url("../bg-box.png");
    border-radius: 5px;
    padding:20px 40px;
    text-align: left;
}
.carousel-caption h3{
    text-align: left;
    color: #80be4d;
    font-weight: bold;
    font-size: 24.56px;
}
.carousel-caption h4{
    font-size: 15.35px;
    line-height: 21px;

}
.menu_footer {

}
.menu_footer{
    padding: 0px;
    padding: 0px;
}
footer h3{
    font-size: 12px; font-weight: bold; color: #1b2c4a;
}
footer {
    font-size: 12px;
    color: #808080;
}
.menu_footer>li{
    float: left;
}
.menu_footer>li>a{
    font-size: 12px;
    padding-left: 0px;color: #808080;
}
.copyright{
    display: inline-block;
    color: #808080; margin-top: 10px;
}
.blink{
    color: #e2973b !important;
}

.dropdown-menu-title{
    font-weight: bold;
    font-size: 16.56px;
    color: #7ebb4c;
    margin-left: 30px;
    padding: 10px 0px 0px 0px;
    display: inline-block;

}
.cus-list-menu{
    padding: 0px;
    margin: 0px 30px;

}
.cus-list-menu li{
    list-style: none;padding: 3px 0px;
}
.cus-list-menu li>a{
    color: #808080;

}
.item-list{
    float: left;
}
.navbar-seldat .navbar-toggle{
    border-color:#ffffff;
}
.navbar-seldat .navbar-toggle .icon-bar{
    background-color: #ffffff;
}
.box-sel{
    background:#355c6d url("../images/bg-box-menu.jpg") repeat-x
    border-radius: 5px;
    display: inline-block;
    padding-bottom: 20px;
    width: 190px;
}.box-sel .title{
    text-align: center; color: #ffffff; font-size: 20px;
    padding: 0px
 }
 .seldat_left_menu_class{
     padding: 0px;
     margin: 0px;
     padding-bottom: 22px;
 }
 .seldat_left_menu_class ul{
     padding: 0px; margin:0px 5px;
 }
.seldat_left_menu_class li{
    padding:3px 0px; list-style: none;
}
.seldat_left_menu_class .sub-menu li a{
    font-size: 13px;
    padding: 5px 0px;
    margin: 0px;
}
.seldat_left_menu_class .sub-menu a{
    font-weight: normal;
}
.left-page ul.menu>li.menu-item > a {
    background: url("../images/bg-menu-left.png");
    height: 30px;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    line-height: 31px;
    color: #fff;
    padding-left: 10px;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
 }
.left-page ul.menu>li.menu-item > a:hover{
    text-decoration: none;
    background: #77b047;
    color: #ffffff !important;
}

.left-page ul.menu>li.menu-item > a:hover{
    background: #77b047;
}
.left-page ul.menu>li.current-menu-item > a{
    background: #77b047;
    color: #ffffff !important;
}
.left-page ul.menu>li.current-menu-parent>a{
    background: #77b047;
    color: #ffffff !important;
}
#menu-left-menu .sub-menu>li{
    padding:5px 0px;
    border-bottom: solid 1px #92a0aa;
}
.left-page .sub-menu>li a{
     color: #fff; text-decoration: none;
 }
.left-page .sub-menu>li a:hover{
    color: #75ad46; text-decoration: none;
}
.box-adress-item{
    padding: 0px 15px 10px 15px;
}
.box-adress-item span{
    text-transform: uppercase;
    color: #80be4d;
    font-size: 10px; font-weight: bold;
}
.box-adress-item p{
    color: #ffffff;
    font-size: 10px; font-weight: bold;
}

.entry-title{
    font-size: 26px; color: #80be4d;
}
.content{
    text-align: justify;
}
.content .sub-title-content{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #42aece;
}
.seldat_left_menu_class .current-menu-item>a, .seldat_top_menu_class .current-menu-item>a {
    color: #7ebb4c !important;
}

/*menu main*/
#menu-main-menu>li.menu-item-has-children{
    position: relative;
}
#menu-main-menu li.current-menu-ancestor > a{
    background: #ffffff !important;
    color: #7ebb4c !important;
}
#menu-main-menu>li.menu-item-has-children .sub-menu>li{
    min-width: 200px;
    float: left;
}
#menu-main-menu>li.menu-item-has-children>ul{
    position: absolute;
    top: 44px;
    /*left: -130px;*/
    left: 0px;
    background: #ffffff;
    z-index: 999;
    width: auto;
    display: inline-flex;
    padding: 15px 0px;
    -webkit-box-shadow: 1px 2px 9px -1px rgba(0,0,0,0.55);
    -moz-box-shadow: 1px 2px 9px -1px rgba(0,0,0,0.55);
    box-shadow: 1px 2px 9px -1px rgba(0,0,0,0.55);

}
.sub-menu a{

    font-size: 16.56px;
    color: #7ebb4c;
    margin-left: 30px;
    padding: 5px 0px 0px 0px;
    display: inline-block;
    font-weight: bold;
}
.sub-menu .li{
    float: left; list-style: none;
}
.sub-menu .sub-menu {
    padding: 0px;
    margin: 0px;

}
.sub-menu li{
    list-style: none;
    float: left;
    display: inline-block;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}
.sub-menu .sub-menu a{
    color: #808080 !important;
    font-size: 13px;
    font-weight: normal;
}
.sub-menu .sub-menu a:hover{
    color: #7ebb4c !important;
}
.menu-item-has-children.open>ul{
    display: block;
}
#menu-main-menu .current_page_item{


}
#menu-main-menu .current_page_item>a{
    background: #ffffff;
    color: #7ebb4c !important
}
#menu-main-menu>li.menu-item-has-children>ul{
    display: none;

}
#menu-main-menu>li.menu-item-has-children:hover>ul{
    display: inline-flex;
}
.left-page {
    float: left;
    width: 221px;
}
.content-page{
    width: 570px;
    padding: 0px;
    margin: 0px;
}
.right-page{
    float: right;
    width: 204px !important;
    padding: 0px;
    margin: 0px;
}
.detail-job .box-pd li{
  list-style: inherit;
}