.panel-default-outline {
    border-radius: 0;
    border: 1px solid #ddd;
    -webkit-box-shadow: none;
    box-shadow: none;

    .panel-heading {
        color: $primary-color;
        text-transform: uppercase;
        font-weight: 600;
        display: flex;
        align-items: center;
        cursor: pointer;

        .panel-toolbar {
            margin-left: auto;
        }
        & + .panel-collapse {
            > .panel-body {
                border-top: none;
            }
        }

        .panel-title {
            text-transform: none;
        }

        .panel-title-sub {
            color: #777;
            font-style: italic;
            font-weight: normal;
            font-size: 11pt;
            display: inherit;
        }
    }

    .panel-footer{
        padding: 15px;
    }

    .toggle-icon {
        display: inline-block;
        color: #ddd;
        &:before {
            content: "\2212";
        }
    }
    .collapsed {
        > .toggle-icon {
            &:before {
                content: "\002b";
            }
        }
    }

    &.in {
        .panel-heading {
            background: $primary-color;
            color: #fff;
        }

        .panel-title-sub {
            color: #fff;
        }
    }
}

.left-header {
    background: $primary-color;
    color: #fff;
    font-weight: bold;
    font-size: 14pt;
    padding: 10px 20px;
}

.left-location {
    margin-top: 5px;
    margin-bottom: 20px;
    > ul {
        list-style: none;
        -webkit-padding-start: 0;
        > li {
            display: flex;
            padding: 5px 0;

            .list-style {
                margin-right: 10px;
            }
        }
    }
}

