a{
    text-decoration: none !important;
    &:hover,&:active{
        text-decoration: none;
    }
}

.content-line{
    line-height: 25px;
}

.no-padding{
    padding: 0 !important;
}

.border{
    border: 1px solid red;
}

.flex-center{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-stretch{
    display: flex;
    align-items: stretch;
}

.flex-stretch-responsive{
    display: flex;
    align-items: stretch;
}

.list-arrow-right{
    list-style-image: url("../images/icons/icon_arrow.png") ;

    /*>li{
        &:before{
            content: "\f178";
            font:normal normal normal 14px/1 FontAwesome;
            -webkit-font-smoothing : antialiased;
            margin-left: -1.5em;
        }
    }*/
}
.list-triangle-bullet{
    color: $primary-color;
    &:before{
        content: "";
        border-color: transparent $primary-color;
        border-style: solid;
        border-width: 0.35em 0 0.35em 0.45em;
        display: block;
        height: 0;
        width: 0;
        left: -1em;
        top: 0.9em;
        position: relative;
    }
}

.common-banner{
    display: flex;
    align-items: center;

    .banner-text{
        color: $primary-color;
        padding: 20px 50px;
        font-size: 30pt;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.25;
    }
}

.common-pagination{
    text-align: center;

    .pagination{
        >li{
            >a{
                border-radius: 2px;
            }

            &+li{
                >a{
                    margin-left: 5px;
                }
            }

        }
    }

}

.common-title{
    color: $primary-color;
    font-weight: bold;
}

.common-slim-title{
    color: $primary-color;
    font-weight: 200;
}

.common-color{
    color: $primary-color !important;
}

.list-angle-right{
    >li{
        &:before{
            font-family: 'FontAwesome';
            content: "\f105";
            margin-right: 5px;
        }
    }
}

.list-angle-double-right{
    >li{
        &:before{
            font-family: 'FontAwesome';
            content: "\f101";
            margin-right: 5px;
        }
    }
}


.back-ground-image-wrap {
    position: relative;
    display: inline-block;
    .image-item {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .text-item {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        color: #fff;
        padding: 30px;
        line-height: 30px;
        font-size: 18px;
    }
}
.content-list-item{
    &+.content-list-item{
        margin-top: 30px;
    }

    p{
        line-height: 23px;
    }
}

.flex-row-column{
    display: flex;
    align-items: center;
}

.container-content-min{
    text-align: justify;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    line-height: 25px;
    padding: 20px 0;
    p{
        margin-bottom: 30px;
    }
}

.container-content-800{
    text-align: justify;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    line-height: 25px;
    padding: 20px 0;
    p{
        margin-bottom: 30px;
    }
}

.container-content-medium{
    text-align: justify;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    line-height: 25px;
    padding: 20px 0;
    p{
        margin-bottom: 30px;
    }
}

.wrap-image-text{
    display: flex;
    align-items: center;
    justify-content: center;

    .image-column{
        padding: 0 20px;
    }

    .text-column{
        width: 440px;

        >p{
            &+p{
                padding-top: 25px;
            }
        }
    }
}

ul{
    &.list-padding-10{
        >li{
            padding: 10px 0;
        }
    }

    &.list-padding-6{
        >li{
            padding: 6px 0;
        }
    }
}

ul{
    &.ul-default{
        list-style: none;
        -moz-padding-start: 0;
        -webkit-padding-start: 0;
        >li{
            display: inline-block;
            white-space: nowrap;
        }
    }
}

.flex{
    display: flex;
    &.f-center{
        align-items: center;
        justify-content: center;
    }
}

.common-border{
    border: 1px solid #ddd;
    &+.common-border{
        border-left: none;
    }
}

.border-shadow-circle{
    position: relative;
    background-color: #fff;
    &:before{
        position: absolute;
        width: 90%;
        height: 40%;
        left: 5%;
        border-radius: 50%;
        z-index: -1;
        top: 0%;
        content: "";
        box-shadow: 0 -7px 20px rgba(0,0,0,0.1);
    }
}