.contact-form{
    .input-group-addon{
        background: #fff;
        border: none;
        color: #d1d1d1;
    }

    .form-control{
        border : none;
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    .input-group{
        border: 1px solid #d1d1d1;
        &:hover,&:focus,&:active,&.active{
            border: 1px solid #9a9a9a;

            .input-group-addon{
                color: #9a9a9a;
            }
        }
    }

    .title{
        text-align: center;
        color: $primary-color;
        font-weight: bold;
        margin-bottom: 50px;
    }

}

.contact-banner{
    display: flex;
    align-items: center;

    .banner-text{
        color: $primary-color;
        padding: 20px 50px;
        font-size: 30pt;
        font-weight: bold;
        text-transform: uppercase;
    }
}