$primary-color: #012147;

body {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    position: relative;
    word-spacing: 1px;
}

@media (min-width: 1400px) {
    .container {
        width: calc(100% - 100px);
    }
}

section {
    padding-top: 60px;
}

.wrap {
    position: relative;
}

#top-header {
    font-size: 12px;
    padding: 0 15px;
    ul.nav-contact {
        margin-bottom: 0;
        margin-left: auto;
        list-style: none;
        height: 24px;
        -webkit-padding-start : 0;
        -moz-padding-start: 0;
        > li {
            line-height: 24px;
            padding: 0 5px;
            & + li {
                //border-left: 1px solid #848484;
            }

            >a{
                line-height: 24px;
            }

            float: left;
        }
    }

    .toolbar-separator {
        height: 64px;
        width: 1px;
        background: rgba(0, 0, 0, .12);
    }

    a {
        color: #848484;
    }
}

#content-wrap {
    background: rgba(255, 255, 255, 1);
    padding: 0;
    position: relative;
}

.landing-title {
    font-size: 40px;
    text-transform: uppercase;
    color: $primary-color;
    text-align: center;
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .landing-line {
        width: 60px;
        height: 1px;
        background: rgba(0, 0, 0, 0.2);
        display: block;
        margin-left: 10px;
        margin-right: 10px;
    }
}

footer {
    padding: 15px 0;
    .navbar-landing {
        min-height: 0;
        li {
            a {
                color: #848484;
                &:hover,&:focus{
                    background: none;
                }
            }

        }

        .navbar-nav {
            li {
                a {
                    padding: 10px 8px;
                }
            }
        }
    }
}

#dynamic-content {
    min-height: 500px;
}

#landing-services {
    padding: 0;

    .item {
        text-align: center;
        margin: 10px;

        max-width: 250px;

        .item-img {
            width: 140px;
            height: 140px;
            border-radius: 50%;

            overflow: hidden;
            margin-left: auto;
            margin-right: auto;
            display: block;

            -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
            mask-image: radial-gradient(circle, white, black);;

            img {

                width: 140px;
                height: 140px;
                border-radius: 50%;
            }
        }

        .item-title-text {
            color: $primary-color;
            text-transform: uppercase;

            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
        }

        &:hover, &:active {

            cursor: pointer;
            .item-title-text {
                margin-top: 30px;
            }
        }

        .item-content {
            border: 1px solid rgba(0, 0, 0, 0.2);
            padding: 5px;
            margin-top: -60px;
            padding-top: 85px;
            min-height: 250px;
            height: 250px;
            color: rgba(0, 0, 0, 0.8);

            .item-content-detail {
                padding: 0;
            }

            &:hover {
                .item-content-detail {
                    display: none;
                }
            }
        }

        .item-divider {
            margin-right: auto;
            margin-left: auto;
            width: 50px;
            height: 1px;
            background: rgba(0, 0, 0, 0.4);
            margin-bottom: 10px;
        }
    }
}

.container-content {
    margin-right: auto;
    margin-left: auto;
    padding: 20px 250px 50px 250px;
    text-align: center;
}

a.read-more-a {
    font-weight: bold;
}

button,a {
    &.btn {
        padding: 10px 30px;
        font-size: 14px !important;
        & + .btn {
            margin-left: 5px;
        }

    }
    &.read-more {
        padding-left: 50px;
        padding-right: 50px;
        text-transform: uppercase;
        border-radius: 3px;
    }

    .btn-file {
        position: relative;
        overflow: hidden;
        input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
    }
}

.btn-effect {
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 0;
    border-radius: 3px;
    background: #001429;

    &:after {
        content: '';
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
        width: 0%;
        height: 100%;
        top: 0;
        left: 0;

        background: #012147;
    }

    &:hover:after, &:active:after {
        width: 100%;
    }
}

.btn-default {
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 0;
    border-radius: 3px;
    background: #fff;

    &:after {
        content: '';
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
        width: 0%;
        height: 100%;
        top: 0;
        left: 0;

        background: #e6e6e6;
    }

    &:hover:after, &:active:after {
        width: 100%;
    }
}

.form-control {

    &::-webkit-input-placeholder {
        font-style: italic;
        font-size: 14px;
        font-weight: 200;
    }

    &::-moz-placeholder {
        font-style: italic;
        font-size: 14px;
        font-weight: 200;
    }
    &:-ms-input-placeholder {
        font-style: italic;
        font-size: 14px;
        font-weight: 200;
    }
    &:focus, &:hover {
        -webkit-box-shadow: none;
        box-shadow: none;
        border-color: #9a9a9a;
    }
}

.parallax-section {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    height: 500px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-items: center;
    color: #fff;
    position: relative;

    .parallax-text {
        font-size: 30pt;
        font-weight: bold;
    }

    .text-boxed {
        padding-left: 100px;
        padding-right: 100px;
        background: rgba(255, 255, 255, 0.2);
    }

    .parallax-modal {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.7);
        display: flex;
        align-items: center;
        justify-items: center;
    }

    ul {
        list-style: none;
    }
}

.worldwide {
    min-height: 500px;
    position: relative;
    .main {
        position: absolute;
        left: 0;
        right: 0;
        top:0;
        bottom: 0;
    }
}

.border-length {
    margin: auto;
    width: 90%;
    position: relative;

    padding: 50px 100px;

    &:before {
        content: '';
        width: 150px;
        height: 50px;

        border-top: 1px solid;
        border-left: 1px solid;

        position: absolute;
        left: 0;
        top: 0;
    }

    &:after {
        content: '';
        width: 150px;
        height: 50px;

        border-bottom: 1px solid;
        border-right: 1px solid;

        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.mission-text{
    font-size: 16px;
    font-weight: 300;
    word-spacing: 3px;
    letter-spacing: 1px;
}

.video-bg {
    position: relative;

    .video-container {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
    }

    .play-btn {
        font-size: 100px;
        margin: auto;
        position: relative;
        color: white;
        background: transparent;
        padding: 0;
        outline: none;
        border: none;
    }
}

.back-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
    outline: none;
    color: #9a9a9a;
    border: 2px solid #9a9a9a;
    z-index: 999;
}

.float_center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.clear {
    clear: both;
}

/* entire container, keeps perspective */

.item {
    perspective: 1000px;
    -webkit-perspective: 1000px;
    &:hover .flipper, &.hover .flipper {
        transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
    }
    max-width: 250px;
    width: 240px;
    height: 330px;
}

/* flip the pane when hovered */

/* Kích thước các mặt */

.front, .back {
    max-width: 250px;
    width: 240px;
    height: 330px;
}

/* flip speed goes here */

.flipper {
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    position: relative;
    cursor: default;
}

/* hide back of pane during swap - Ẩn các mặt sau (back face) khi hoán chuyển các mặt */

.front, .back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */

.front {
    z-index: 2;
    transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
}

/* back, initially hidden pane */

.back {
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    .item-img {
        border: 4px solid #fff;
    }
    .item-content {
        background: $primary-color;
        border: 2px solid #fff;
        padding: 10px !important;

        .content-wrap {
            border: 1px solid #fff;
            height: 100%;
            padding: 60px 5px 5px 5px;
            .item-content-readmore {
                display: block !important;
            }

            .item-title-text {
                color: #fff !important;
            }

            .item-link {
                padding: 10px 40px;
                text-transform: uppercase;
                margin-top: 20px;
                a {
                    text-decoration: none;
                }
            }
        }
    }
}

@import "common";

@import "services";

@import "main-menu";

@import "contact_us";

@import "careers";

@import "staffing";