@charset "UTF-8";
body {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  position: relative;
  word-spacing: 1px; }

@media (min-width: 1400px) {
  .container {
    width: calc(100% - 100px); } }
section {
  padding-top: 60px; }

.wrap {
  position: relative; }

#top-header {
  font-size: 12px;
  padding: 0 15px; }
  #top-header ul.nav-contact {
    margin-bottom: 0;
    margin-left: auto;
    list-style: none; }
    #top-header ul.nav-contact > li {
      float: left; }
      #top-header ul.nav-contact > li + li {
        padding-left: 5px; }
  #top-header .toolbar-separator {
    height: 64px;
    width: 1px;
    background: rgba(0, 0, 0, 0.12); }
  #top-header a {
    color: #848484; }

#content-wrap {
  background: white;
  padding: 0;
  position: relative; }

.landing-title {
  font-size: 40px;
  text-transform: uppercase;
  color: #012147;
  text-align: center;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .landing-title .landing-line {
    width: 60px;
    height: 1px;
    background: rgba(0, 0, 0, 0.2);
    display: block;
    margin-left: 10px;
    margin-right: 10px; }

footer {
  padding: 15px 0; }
  footer .navbar-landing {
    min-height: 0; }
    footer .navbar-landing li a {
      color: #848484; }
      footer .navbar-landing li a:hover, footer .navbar-landing li a:focus {
        background: none; }
    footer .navbar-landing .navbar-nav li a {
      padding: 10px 8px; }

#dynamic-content {
  min-height: 500px; }

#landing-services {
  padding: 0; }
  #landing-services .item {
    text-align: center;
    margin: 10px;
    max-width: 250px; }
    #landing-services .item .item-img {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      overflow: hidden;
      margin-left: auto;
      margin-right: auto;
      display: block;
      -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
      mask-image: radial-gradient(circle, white, black); }
      #landing-services .item .item-img img {
        width: 140px;
        height: 140px;
        border-radius: 50%; }
    #landing-services .item .item-title-text {
      color: #012147;
      text-transform: uppercase;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      transition: all 0.5s; }
    #landing-services .item:hover, #landing-services .item:active {
      cursor: pointer; }
      #landing-services .item:hover .item-title-text, #landing-services .item:active .item-title-text {
        margin-top: 30px; }
    #landing-services .item .item-content {
      border: 1px solid rgba(0, 0, 0, 0.2);
      padding: 5px;
      margin-top: -60px;
      padding-top: 85px;
      min-height: 250px;
      height: 250px;
      color: rgba(0, 0, 0, 0.8); }
      #landing-services .item .item-content .item-content-detail {
        padding: 0; }
      #landing-services .item .item-content:hover .item-content-detail {
        display: none; }
    #landing-services .item .item-divider {
      margin-right: auto;
      margin-left: auto;
      width: 50px;
      height: 1px;
      background: rgba(0, 0, 0, 0.4);
      margin-bottom: 10px; }

.container-content {
  margin-right: auto;
  margin-left: auto;
  padding: 20px 250px 50px 250px;
  text-align: center; }

a.read-more-a {
  font-weight: bold; }

button.btn, a.btn {
  padding: 10px 30px;
  font-size: 14px !important; }
  button.btn + .btn, a.btn + .btn {
    margin-left: 5px; }
button.read-more, a.read-more {
  padding-left: 50px;
  padding-right: 50px;
  text-transform: uppercase;
  border-radius: 3px; }
button .btn-file, a .btn-file {
  position: relative;
  overflow: hidden; }
  button .btn-file input[type=file], a .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block; }

.btn-effect {
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 0;
  border-radius: 3px;
  background: #001429; }
  .btn-effect:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: #012147; }
  .btn-effect:hover:after, .btn-effect:active:after {
    width: 100%; }

.form-control::-webkit-input-placeholder {
  font-style: italic;
  font-size: 14px;
  font-weight: 200; }
.form-control::-moz-placeholder {
  font-style: italic;
  font-size: 14px;
  font-weight: 200; }
.form-control:-ms-input-placeholder {
  font-style: italic;
  font-size: 14px;
  font-weight: 200; }
.form-control:focus, .form-control:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #9a9a9a; }

.parallax-section {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  height: 500px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-items: center;
  color: #fff;
  position: relative; }
  .parallax-section .parallax-text {
    font-size: 30pt;
    font-weight: bold; }
  .parallax-section .text-boxed {
    padding-left: 100px;
    padding-right: 100px;
    background: rgba(255, 255, 255, 0.2); }
  .parallax-section .parallax-modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-items: center; }
  .parallax-section ul {
    list-style: none; }

.worldwide {
  min-height: 500px;
  position: relative; }
  .worldwide .main {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }

.border-length {
  margin: auto;
  width: 90%;
  position: relative;
  padding: 50px 100px; }
  .border-length:before {
    content: '';
    width: 150px;
    height: 50px;
    border-top: 1px solid;
    border-left: 1px solid;
    position: absolute;
    left: 0;
    top: 0; }
  .border-length:after {
    content: '';
    width: 150px;
    height: 50px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    position: absolute;
    right: 0;
    bottom: 0; }

.mission-text {
  font-size: 16px;
  font-weight: 300;
  word-spacing: 3px;
  letter-spacing: 1px; }

.video-bg {
  position: relative; }
  .video-bg .video-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex; }
  .video-bg .play-btn {
    font-size: 100px;
    margin: auto;
    position: relative;
    color: white;
    background: transparent;
    padding: 0;
    outline: none;
    border: none; }

.back-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  outline: none;
  color: #9a9a9a;
  border: 2px solid #9a9a9a;
  z-index: 999; }

.float_center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.clear {
  clear: both; }

/* entire container, keeps perspective */
.item {
  perspective: 1000px;
  -webkit-perspective: 1000px;
  max-width: 250px;
  width: 240px;
  height: 330px; }
  .item:hover .flipper, .item.hover .flipper {
    transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); }

/* flip the pane when hovered */
/* Kích thước các mặt */
.front, .back {
  max-width: 250px;
  width: 240px;
  height: 330px; }

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  position: relative;
  cursor: default; }

/* hide back of pane during swap - Ẩn các mặt sau (back face) khi hoán chuyển các mặt */
.front, .back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; }

/* front pane, placed above back */
.front {
  z-index: 2;
  transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg); }

/* back, initially hidden pane */
.back {
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }
  .back .item-img {
    border: 4px solid #fff; }
  .back .item-content {
    background: #012147;
    border: 2px solid #fff;
    padding: 10px !important; }
    .back .item-content .content-wrap {
      border: 1px solid #fff;
      height: 100%;
      padding: 60px 5px 5px 5px; }
      .back .item-content .content-wrap .item-content-readmore {
        display: block !important; }
      .back .item-content .content-wrap .item-title-text {
        color: #fff !important; }
      .back .item-content .content-wrap .item-link {
        padding: 10px 40px;
        text-transform: uppercase;
        margin-top: 20px; }
        .back .item-content .content-wrap .item-link a {
          text-decoration: none; }

a {
  text-decoration: none !important; }
  a:hover, a:active {
    text-decoration: none; }

.content-line {
  line-height: 25px; }

.no-padding {
  padding: 0 !important; }

.border {
  border: 1px solid red; }

.flex-center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center; }

.flex-stretch {
  display: flex;
  align-items: stretch; }

.list-arrow-right {
  list-style-image: url("../images/icons/icon_arrow.png");
  /*>li{
      &:before{
          content: "\f178";
          font:normal normal normal 14px/1 FontAwesome;
          -webkit-font-smoothing : antialiased;
          margin-left: -1.5em;
      }
  }*/ }

.common-banner {
  display: flex;
  align-items: center; }
  .common-banner .banner-text {
    color: #012147;
    padding: 20px 50px;
    font-size: 30pt;
    font-weight: bold;
    text-transform: uppercase; }

.common-pagination {
  text-align: center; }
  .common-pagination .pagination > li > a {
    border-radius: 2px; }
  .common-pagination .pagination > li + li > a {
    margin-left: 5px; }

.common-title {
  color: #012147;
  font-weight: bold; }

.common-slim-title {
  color: #012147;
  font-weight: 200; }

.common-color {
  color: #012147 !important; }

.list-angle-right > li:before {
  font-family: 'FontAwesome';
  content: "\f105";
  margin-right: 5px; }

.list-angle-double-right > li:before {
  font-family: 'FontAwesome';
  content: "\f101";
  margin-right: 5px; }

.back-ground-image-wrap {
  position: relative;
  display: inline-block; }
  .back-ground-image-wrap .image-item {
    display: block;
    max-width: 100%;
    height: auto; }
  .back-ground-image-wrap .text-item {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 30px;
    line-height: 30px;
    font-size: 18px; }

.content-list-item + .content-list-item {
  margin-top: 30px; }
.content-list-item p {
  line-height: 23px; }

.flex-row-column {
  display: flex;
  align-items: center; }

.container-content-min {
  text-align: justify;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 25px;
  padding: 20px 0; }
  .container-content-min p {
    margin-bottom: 30px; }

.wrap-image-text {
  display: flex;
  align-items: center;
  justify-content: center; }
  .wrap-image-text .text-column {
    width: 440px; }
    .wrap-image-text .text-column > p + p {
      padding-top: 25px; }

ul.list-padding-10 > li {
  padding: 10px 0; }

/* Page service common rule */
.banner-static {
  height: 400px;
  background-color: #e8e8e8; }

.section-text {
  min-height: 100px;
  padding: 80px 15px; }
  .section-text .container-content {
    text-align: justify;
    padding: 20px 130px 50px 130px;
    line-height: 25px; }
  .section-text .row {
    padding: 0 130px; }

.left-title {
  text-align: right;
  font-size: 20pt;
  font-weight: bold;
  width: 100%; }

.before-footer {
  background: #fff; }
  .before-footer .row {
    margin-left: 0;
    margin-right: 0; }
  .before-footer .section-item {
    padding: 50px; }
    .before-footer .section-item .icon {
      height: 88px; }
    .before-footer .section-item:nth-child(even) {
      background: #f1f1f1; }
    .before-footer .section-item:nth-child(odd) {
      background: #e3e3e3; }
  .before-footer .media-heading {
    color: #333; }

.page-footer {
  background: #fff; }

/* Distribution service */
.panel-group .panel-outline {
  border-radius: 0;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .panel-group .panel-outline .panel-heading {
    padding: 20px 0;
    color: #012147;
    text-transform: uppercase;
    font-weight: 600; }
    .panel-group .panel-outline .panel-heading + .panel-collapse > .panel-body {
      border-top: none; }
  .panel-group .panel-outline .panel-body {
    padding: 15px 0; }
  .panel-group .panel-outline + .panel-outline {
    margin-top: 0;
    border-top: none; }
  .panel-group .panel-outline .toggle-icon {
    display: inline-block; }
    .panel-group .panel-outline .toggle-icon:before {
      content: "\2212"; }
  .panel-group .panel-outline .collapsed > .toggle-icon:before {
    content: "\002b"; }

.distribution-banner {
  display: flex;
  align-items: center;
  justify-content: center; }
  .distribution-banner .banner-text {
    background: #012147;
    color: #fff;
    padding: 20px 50px;
    font-size: 30pt;
    font-weight: bold;
    text-transform: uppercase; }

/* E-commerce service */
.commerce-banner {
  display: flex;
  align-items: center; }
  .commerce-banner .banner-text {
    color: #fff;
    padding: 20px 50px;
    font-size: 30pt;
    font-weight: bold;
    text-transform: uppercase; }

.commerce-left-title {
  text-align: right;
  color: #012147;
  font-size: 15pt;
  line-height: 35px; }

.commerce-section-one {
  padding: 10px; }

.commerce-col-1 {
  color: #012147; }

.commerce-col-2 {
  padding: 0; }
  .commerce-col-2 > ul {
    margin-bottom: 0;
    width: 100%;
    list-style: none; }
    .commerce-col-2 > ul > li {
      border: 1px solid #ddd;
      padding: 18px 30px;
      color: #012147;
      margin-left: -40px;
      font-size: 1.1em; }
      .commerce-col-2 > ul > li + li {
        margin-top: 10px; }
  .commerce-col-2 + .commerce-col-3 {
    margin-left: 10px; }

.commerce-col-3 {
  color: #012147;
  padding: 0 50px;
  border: 1px solid #ddd;
  font-weight: bold;
  font-size: 1.3em;
  text-align: center; }

/* Retail service */
.retail-banner {
  display: flex;
  align-items: center; }
  .retail-banner .banner-text {
    color: #000;
    padding: 20px 100px;
    font-size: 30pt;
    font-weight: bold;
    text-transform: uppercase; }

.retail-row-text {
  line-height: 30px;
  color: #012147; }

.fashion-title {
  font-weight: 600;
  color: #012147;
  font-size: 18px; }

.fashion-title-2 {
  font-weight: 600;
  color: #012147;
  font-size: 20px; }

.fashion-first-text {
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 30px;
  word-spacing: 1px; }

.dropdown-menu-extend {
  position: absolute;
  top: 100%;
  border-radius: 0;
  left: 0;
  right: 0;
  margin: -1px;
  z-index: 9999;
  background: #f4f5f8;
  overflow: hidden;
  display: none; }
  .dropdown-menu-extend .dropdown-menu {
    top: 0;
    left: 0;
    display: block;
    border-radius: 0;
    margin: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    background: transparent; }
    .dropdown-menu-extend .dropdown-menu li.dropdown-menu-sub {
      position: relative; }
      .dropdown-menu-extend .dropdown-menu li.dropdown-menu-sub .dropdown-menu-sub-lvl2 {
        display: none; }
      .dropdown-menu-extend .dropdown-menu li.dropdown-menu-sub:hover .dropdown-menu-sub-lvl2, .dropdown-menu-extend .dropdown-menu li.dropdown-menu-sub.open .dropdown-menu-sub-lvl2 {
        display: block; }
      .dropdown-menu-extend .dropdown-menu li.dropdown-menu-sub:hover > .menu-detail, .dropdown-menu-extend .dropdown-menu li.dropdown-menu-sub.open > .menu-detail {
        display: block; }
      .dropdown-menu-extend .dropdown-menu li.dropdown-menu-sub:after {
        position: absolute;
        content: "";
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 10px;
        width: 0;
        height: 0;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 4px solid; }

.navbar-landing {
  margin-bottom: 0; }
  .navbar-landing .nav-effect > li {
    padding: 10px 15px; }
    .navbar-landing .nav-effect > li > a {
      padding: 5px 0;
      color: black;
      position: relative;
      display: inline-block;
      outline: none;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 400;
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.3); }
      .navbar-landing .nav-effect > li > a:after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background: #012147;
        content: '';
        opacity: 0;
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        -moz-transition: opacity 0.3s, -moz-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        transform: translateY(10px); }
    .navbar-landing .nav-effect > li:not(.active) > a:hover, .navbar-landing .nav-effect > li:not(.active) > a:focus {
      background-color: transparent; }
      .navbar-landing .nav-effect > li:not(.active) > a:hover:after, .navbar-landing .nav-effect > li:not(.active) > a:focus:after {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        transform: translateY(0px); }
    .navbar-landing .nav-effect > li.active > a, .navbar-landing .nav-effect > li.open > a {
      color: #012147;
      background: transparent; }
      .navbar-landing .nav-effect > li.active > a:after, .navbar-landing .nav-effect > li.open > a:after {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        transform: translateY(0px); }
      .navbar-landing .nav-effect > li.active > a:hover, .navbar-landing .nav-effect > li.active > a:focus, .navbar-landing .nav-effect > li.open > a:hover, .navbar-landing .nav-effect > li.open > a:focus {
        background-color: transparent; }
  .navbar-landing .navbar-header {
    padding-left: 15px; }
  .navbar-landing .navbar-toggle {
    border: none;
    color: #012147; }

.landing-sub > .dropdown-menu {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 0;
  border: none;
  position: relative;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.175);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.175); }
  .landing-sub > .dropdown-menu > li > a {
    padding: 10px 40px; }
    .landing-sub > .dropdown-menu > li > a:hover, .landing-sub > .dropdown-menu > li > a:active, .landing-sub > .dropdown-menu > li > a:focus {
      background: #012147;
      color: #fff; }
  .landing-sub > .dropdown-menu > li.open:after, .landing-sub > .dropdown-menu > li:hover:after {
    color: #fff; }
  .landing-sub > .dropdown-menu > li.open > a, .landing-sub > .dropdown-menu > li:hover > a {
    background: #012147;
    color: #fff; }
.landing-sub:hover > .dropdown-menu, .landing-sub:active > .dropdown-menu {
  display: block;
  position: absolute; }

.dropdown-menu-sub-lvl2 {
  background: #e9e9e9;
  border-radius: 0;
  border: none;
  position: absolute; }
  .dropdown-menu-sub-lvl2 > li > a {
    padding: 10px 40px; }
    .dropdown-menu-sub-lvl2 > li > a:hover, .dropdown-menu-sub-lvl2 > li > a:active, .dropdown-menu-sub-lvl2 > li > a:focus {
      font-size: 1.1em;
      color: #012147;
      font-weight: bold; }
  .dropdown-menu-sub-lvl2 > li.open > a, .dropdown-menu-sub-lvl2 > li:hover > a {
    font-size: 1.1em;
    color: #012147;
    font-weight: bold; }
  .dropdown-menu-sub-lvl2 > li.open > .menu-detail, .dropdown-menu-sub-lvl2 > li:hover > .menu-detail {
    display: block;
    align-items: center; }
  .dropdown-menu-sub-lvl2 > li.open .dropdown-menu-sub-lvl3, .dropdown-menu-sub-lvl2 > li:hover .dropdown-menu-sub-lvl3 {
    display: block; }

.dropdown-menu-sub-lvl3 {
  position: relative;
  left: 40px;
  list-style: disc;
  display: none; }
  .dropdown-menu-sub-lvl3 > li {
    padding: 5px; }
    .dropdown-menu-sub-lvl3 > li > a {
      color: inherit; }
    .dropdown-menu-sub-lvl3 > li:hover > a, .dropdown-menu-sub-lvl3 > li.open > a {
      color: #012147;
      font-weight: bold; }
    .dropdown-menu-sub-lvl3 > li:hover > .menu-detail, .dropdown-menu-sub-lvl3 > li.open > .menu-detail {
      display: block;
      align-items: center; }

.menu-detail {
  position: absolute;
  left: 100%;
  top: 0;
  bottom: 0;
  min-width: 100px;
  display: none;
  padding: 5px; }
  .menu-detail .row {
    margin-left: 0;
    margin-right: 0; }
    .menu-detail .row div {
      padding: 0; }
  .menu-detail .img-thumbnail {
    width: 250px;
    height: 250px;
    float: left; }

.contact-form .input-group-addon {
  background: #fff;
  border: none;
  color: #d1d1d1; }
.contact-form .form-control {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none; }
.contact-form .input-group {
  border: 1px solid #d1d1d1; }
  .contact-form .input-group:hover, .contact-form .input-group:focus, .contact-form .input-group:active, .contact-form .input-group.active {
    border: 1px solid #9a9a9a; }
    .contact-form .input-group:hover .input-group-addon, .contact-form .input-group:focus .input-group-addon, .contact-form .input-group:active .input-group-addon, .contact-form .input-group.active .input-group-addon {
      color: #9a9a9a; }
.contact-form .title {
  text-align: center;
  color: #012147;
  font-weight: bold;
  margin-bottom: 50px; }

.contact-banner {
  display: flex;
  align-items: center; }
  .contact-banner .banner-text {
    color: #012147;
    padding: 20px 50px;
    font-size: 30pt;
    font-weight: bold;
    text-transform: uppercase; }

.panel-default-outline {
  border-radius: 0;
  border: 1px solid #ddd;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .panel-default-outline .panel-heading {
    color: #012147;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    cursor: pointer; }
    .panel-default-outline .panel-heading .panel-toolbar {
      margin-left: auto; }
    .panel-default-outline .panel-heading + .panel-collapse > .panel-body {
      border-top: none; }
    .panel-default-outline .panel-heading .panel-title {
      text-transform: none; }
    .panel-default-outline .panel-heading .panel-title-sub {
      color: #777;
      font-style: italic;
      font-weight: normal;
      font-size: 11pt;
      display: inherit; }
  .panel-default-outline .toggle-icon {
    display: inline-block;
    color: #ddd; }
    .panel-default-outline .toggle-icon:before {
      content: "\2212"; }
  .panel-default-outline .collapsed > .toggle-icon:before {
    content: "\002b"; }
  .panel-default-outline.in .panel-heading {
    background: #012147;
    color: #fff; }
  .panel-default-outline.in .panel-title-sub {
    color: #fff; }

.left-header {
  background: #012147;
  color: #fff;
  font-weight: bold;
  font-size: 14pt;
  padding: 10px 20px; }

.left-location {
  margin-top: 5px;
  margin-bottom: 20px; }
  .left-location > ul {
    list-style: none;
    -webkit-padding-start: 0; }
    .left-location > ul > li {
      display: flex;
      padding: 5px 0; }
      .left-location > ul > li .list-style {
        margin-right: 10px; }

.staffing-left-title {
  text-align: right;
  color: #012147;
  font-size: 20pt;
  line-height: 35px;
  font-weight: bold;
  text-transform: uppercase; }

.staffing-bg-contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  height: 500px;
  max-height: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px; }
  .staffing-bg-contain .bg-inside-title {
    font-weight: bold; }
  .staffing-bg-contain .bg-inside-list {
    list-style: none;
    -moz-padding-start: 0;
    -webkit-padding-start: 0; }

.staffing-recruiting-column ul {
  list-style: none;
  -moz-padding-start: 0;
  -webkit-padding-start: 0; }
.staffing-recruiting-column .row {
  padding: 0;
  margin: 0; }

/*# sourceMappingURL=index2.css.map */
