.dropdown-menu-extend{
  position: absolute;
  top:100%;
  border-radius: 0;
  left: 0; right: 0;
  margin: -1px;
  z-index: 9999;
  background: #f4f5f8;
  overflow: hidden;
  display: none;

  .dropdown-menu{
    top:0;left: 0;
    display: block;
    border-radius: 0;
    margin: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    background: transparent;



    li.dropdown-menu-sub{
      position:relative;
      .dropdown-menu-sub-lvl2{
          display: none;
      }

      &:hover,&.open{
        .dropdown-menu-sub-lvl2{
            display: block;
        }

        >.menu-detail{
            display: block;
        }
      }

      &:after{
        position:absolute;
        content:"";
        top:50%;
        -webkit-transform:translateY(-50%);
        -moz-transform:translateY(-50%);
        -o-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
        transform:translateY(-50%);
        right:10px;
        width: 0;
        height: 0;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 4px solid;
      }
    }

  }
}

.navbar-landing{
  margin-bottom: 0;
  .nav-effect{
    >li{

      padding: 10px 15px;
      >a{
        padding: 5px 0;

        color: rgba(0,0,0,1);

        position: relative;
        display: inline-block;
        outline: none;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        text-shadow: 0 0 1px rgba(255,255,255,0.3);


        &:after{
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 1px;
          background: #012147;
          content: '';
          opacity: 0;
          -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
          -moz-transition: opacity 0.3s, -moz-transform 0.3s;
          transition: opacity 0.3s, transform 0.3s;
          -webkit-transform: translateY(10px);
          -moz-transform: translateY(10px);
          transform: translateY(10px);
        }
      }

      &:not(.active){
        >a{

          &:hover, &:focus{
            background-color: transparent;
            &:after{
              opacity: 1;
              -webkit-transform: translateY(0px);
              -moz-transform: translateY(0px);
              transform: translateY(0px);
            }
          }
        }
      }
      &.active,&.open {
        >a{
          color: $primary-color;
          background: transparent;
          &:after{
            opacity: 1;
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            transform: translateY(0px);
          }
          &:hover, &:focus{
            background-color: transparent;
          }
        }

      }
    }
  }





  .navbar-header{
    padding-left: 15px;
  }

  .navbar-toggle{
    border :none;
    color: $primary-color;
  }
}

.landing-sub{
  >.dropdown-menu{
    background: rgba(255,255,255,0.9);
    border-radius: 0;
    border: none;
    position: relative;
    box-shadow: 0 0 1px rgba(0,0,0,0.175);
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.175);
    >li{
      >a{
        padding: 10px 40px;
        &:hover,&:active,&:focus{
          background: $primary-color;
          color: #fff;
        }
      }

      &.open,&:hover{
        &:after{
          color: #fff;
        }
        >a{
          background: $primary-color;
          color: #fff;
        }
      }
    }
  }



  &:hover,&:active{
    >.dropdown-menu{
      display: block;
      position: absolute;
    }
  }
}


.dropdown-menu-sub-lvl2{
  background: #e9e9e9;
  border-radius: 0;
  border: none;
  position: absolute;
  >li{
    >a{
      padding: 10px 40px;
      &:hover,&:active,&:focus{
        font-size: 1.1em;
        color: $primary-color;
        font-weight: bold;
      }
    }

    &.open,&:hover{
      >a{
        font-size: 1.1em;
        color: $primary-color;
        font-weight: bold;
      }

      >.menu-detail{
        display: block;
        align-items: center;
      }

      .dropdown-menu-sub-lvl3{
          display: block;
      }
    }
  }
}


.dropdown-menu-sub-lvl3{
    position: relative;
    left: 40px;
    list-style: disc;
    display: none;

    >li{
        padding: 5px;
        >a{
          color: inherit;
        }

        &:hover,&.open{
            >a{
              color: $primary-color;
              font-weight: bold;
            }

            >.menu-detail{
              display: block;
              align-items: center;
            }
        }
    }
}

.menu-detail{
  position: absolute;
  left: 100%; top: 0; bottom: 0;
  min-width: 100px;
  display: none;
  padding: 5px;
  .row{
    margin-left: 0;
    margin-right: 0;
    div{
        padding: 0;
    }
  }

  .img-thumbnail{
      width: 250px;
      height: 250px;
      float: left;
  }
}