/* Page service common rule */
.banner-static {
  height: 400px;
  background-color: #e8e8e8;
}

.section-text {
  min-height: 100px;
  padding: 80px 15px;
  //position: relative;
  z-index: 0;
  .container-content {
    text-align: justify;
    padding: 20px 130px 50px 130px;
    line-height: 25px;
  }

  .row {
    padding: 0 130px;
  }
}

.left-title {
  text-align: right;
  font-size: 20pt;
  font-weight: bold;
  width: 100%;
}

.before-footer {
  background: #fff;
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .section-item {
    padding: 50px;
    .icon {
      height: 88px;
    }

    &:nth-child(even) {
      background: rgba(241, 241, 241, 1);
    }

    &:nth-child(odd) {
      background: rgba(227, 227, 227, 1);
    }
  }

  .media-heading{
    color: #333;
  }
}

.page-footer {
  background: #fff;
}

/* Distribution service */
.panel-group {
  .panel-outline {
    border-radius: 0;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    -webkit-box-shadow: none;
    box-shadow: none;

    .panel-heading {
      padding: 20px 0;
      color: $primary-color;
      text-transform: uppercase;
      //cursor: pointer;
      font-weight: 600;
      & + .panel-collapse {
        > .panel-body {
          border-top: none;
        }
      }

      &.supply-heading{
          color: #161616;
      }
    }

    .panel-body {
      padding: 15px 0;
    }

    & + .panel-outline {
      margin-top: 0;
      border-top: none;
    }

    .toggle-icon {
      display: inline-block;
      &:before {
        content: "\2212";
      }
    }
    .collapsed {
      > .toggle-icon {
        &:before {
          content: "\002b";
        }
      }
    }

    &.in{
      border: 1px solid #ddd;
      .panel-heading{
        background: $primary-color;
        color: #fff;
        padding-left:  30px;
        padding-right: 30px;
      }

      .toggle-icon{
        color: #fff;
      }

      .panel-body{
        padding: 30px;
      }
    }
  }
}

.distribution-banner {
  display: flex;
  align-items: center;
  justify-content: center;

  .banner-text {
    background: $primary-color;
    color: #fff;
    padding: 20px 50px;
    font-size: 30pt;
    font-weight: bold;
    text-transform: uppercase;
  }
}

/* E-commerce service */
.commerce-banner {
  display: flex;
  align-items: center;

  .banner-text {
    color: #fff;
    padding: 20px 50px;
    font-size: 30pt;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.commerce-left-title {
  text-align: right;
  color: $primary-color;
  font-size: 15pt;
  line-height: 35px;
}

.commerce-section-one {
  padding: 10px;
}

.commerce-col-1 {
  color: $primary-color;
}

.commerce-col-2 {
  padding: 0;
  > ul {
    margin-bottom: 0;
    width: 100%;
    list-style: none;
    > li {
      border: 1px solid #ddd;
      padding: 18px 30px;
      color: $primary-color;
      margin-left: -40px;
      font-size: 1.1em;
      & + li {
        margin-top: 10px;
      }
    }
  }

  & + .commerce-col-3 {
    margin-left: 10px;
  }
}

.commerce-col-3 {
  color: $primary-color;
  padding: 0 50px;
  border: 1px solid #ddd;
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
}

/* Retail service */
.retail-banner {
  display: flex;
  align-items: center;

  .banner-text {
    color: #000;
    padding: 20px 100px;
    font-size: 30pt;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.retail-row-text {
  line-height: 30px;
  color: $primary-color;
}

.fashion-title{
    font-weight: 600;
    color: $primary-color;
    font-size: 18px;
}

.fashion-title-2{
  font-weight: 600;
  color: $primary-color;
  font-size: 20px;
}

.fashion-first-text{
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 30px;
  word-spacing: 1px;
}

.supply-first-row{
    margin-bottom: 30px;
}

.supply-padding-left{
    padding-left: 33px;
}


.it-teams-section{
    display: flex;
    align-items: stretch;
    justify-content: center;
    >*{
      margin: 9px;
    }

    >.back-ground-image-wrap{
        min-width: 200px;
        &.border{
          border: $primary-color solid 4px;
        }
    }
}

.it-service{
    .panel-heading{
      padding: 10px 25px;
    }

    .ul>li{
      color: #000;
    }

    .ul2>li{
      font-size: 17px;
      color: #000;
    }
    .ul2>li + li{
      margin-top: 18px;
    }
}