/*

Vantaiit@gmail.com

*/



body{

    padding: 0px; margin: 0px;

    font-family: "arial","Roboto",sans-serif



}

ul,li{list-style-image: url("../images/symbol.png");}


a{

    text-decoration: none !important;

}

.container{

    width: 980px;

    padding: 0px;

}



.menu-top li{

    float: left; padding: 5px 10px;

}

.clear{

    clear: both;

}

.form-search{

    width: 253px;

    float: right;

    padding-bottom: 10px;
    margin-top: 30px;
}

header{
}



header .logo{
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 20px;
}

.navbar-seldat{

    background: url("../images/bg-main-menu.png");

    border-radius: 5px;

    min-width: 980px;

    height: 45px;

    margin-bottom: 10px;

}

.navbar-seldat .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {

    color: #ffffff;

}

.navbar-seldat .navbar-nav>li>a{



    padding-right: 30px;

    color: #ffffff;

}

.navbar-seldat>ul>li{

    float: left;
    list-style: none;

}
#menu-job-menu li{
   list-style: none;
}
.box-job-inc ul li{
   list-style: none;
}

.navbar-seldat>ul>li>a{

padding: 11px 28px 11px 25px;
    display: inline-block;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5;
    line-height: 23px;
    margin-right: 11px;
}

.navbar-seldat>ul>li:hover>a{

    color: #FFFFFF;

    background: #ca1a1a;

}



.navbar-seldat  .nav>li>a:hover, .navbar-seldat .nav>li>a:focus, .navbar-seldat .nav>li>a:hover {

    background-color: #7ebb4c;

    border-color: #337ab7

}

.navbar-seldat  .nav .open>a, .navbar-seldat .open>a:focus, .navbar-seldat .open>a:hover {



    border-color: #337ab7

}

#menu-top-menu li{

    float: left; padding: 10px 15px

}

#menu-top-menu>li>a{

font-size: 13px; color: #808080;

}

#menu-top-menu>li>a:hover{

    font-size: 13px; color: #42aece;

}



.menu_top_menu>li{

    text-decoration: none;

    list-style: none;

    padding: 10px 0px;
    margin-top: 30px;
}

.navbar-seldat>ul>li:hover{

    color: #cccccc !important;



}

.navbar-seldat>ul>li:focus{

    color: #cccccc !important;

    background: #ffffff;

}

.carousel-inner{

    position: relative;

}

.carousel-caption {

    width: 388px;

    height: 244px;

    position: absolute;

    left: 40px;

    top: 60px;

    background: url("../bg-box.png");

    border-radius: 5px;

    padding:20px 40px;

    text-align: left;

}

.carousel-caption h3{

    text-align: left;

    color: #80be4d;

    font-weight: bold;

    font-size: 24.56px;

}

.carousel-caption h4{

    font-size: 15.35px;

    line-height: 21px;



}

.menu_footer {



}

.menu_footer{

    padding: 0px;

    padding: 0px;

}

footer h3 a{

    font-size: 18px;

    font-weight: bold;

    color: #1c5a7d;

    margin-top: 14px;

}

footer {

    font-size: 12px;

    color: #808080;

}

.menu_footer>li{

    float: left;

    border-right: 1px solid #ccc;

}

.menu_footer>li:last-child{

    float: left;

    border-right: 0px;

}

.menu_footer>li:first-child{

    padding: 0 8px 0 0;

}

.menu_footer>li{

    padding: 0 8px;

}

.menu_footer>li>a{

    font-size: 13px;

    padding: 0px;color: #0077b5;

    font-weight: bold;



}

.menu_footer>li>a:hover{

    color: #42aece;

}

.copyright{

    display: inline-block;

    color: #808080; margin-top: 24px;

}

.blink{

    color: #e2973b !important;

}



.dropdown-menu-title{

    font-weight: bold;

    font-size: 16.56px;

    color: #666;

    margin-left: 30px;

    padding: 10px 0px 0px 0px;

    display: inline-block;



}
.dropdown-menu li{
    list-style: none;
}

.cus-list-menu{

    padding: 0px;

    margin: 0px 30px;



}

.cus-list-menu li{

    list-style: none;padding: 3px 0px;

}

.cus-list-menu li>a{

    color: #808080;



}

.item-list{

    float: left;

}

.navbar-seldat .navbar-toggle{

    border-color:#ffffff;

}

.navbar-seldat .navbar-toggle .icon-bar{

    background-color: #ffffff;

}

.box-sel{

    background:#334f6b url("../images/bg-box-menu.jpg") repeat-x;

    border-radius: 5px;

    display: inline-block;

    padding-bottom: 20px;

    width: 190px;

}
.box-sel-right{

    border: 1px solid #dedede;
    border-radius: 5px;

    display: inline-block;

    padding-bottom: 20px;

    width: 190px;

}
.box-sel .title{

    text-align: center; color: #ffffff; font-size: 20px;

    padding: 0px

 }
.box-sel-right .title{

    text-align: center; color: #223869; font-size: 20px;

    padding: 0px

 }

 .seldat_left_menu_class{

     padding: 0px;

     margin: 0px;

     padding-bottom: 22px;

 }

 .seldat_left_menu_class ul{

     padding: 0px; margin:0px 7px

 }

.seldat_left_menu_class li{

    padding:3px 0px; list-style: none;

}

.seldat_left_menu_class .sub-menu li a{

    font-size: 13px;

    padding: 5px 0px;

    margin: 0px;

    line-height: 14px;

}

.seldat_left_menu_class .sub-menu a{

    font-weight: normal;

}

.left-page ul.menu>li.menu-item > a {

    border-radius: 5px;

  display: inline-block;

  width: 100%;

  line-height: 18px;

  padding: 5px 10px;

  padding-right:0;

  color: #fff;

  font-weight: 400;

  font-size: 13px;

  letter-spacing: 0.5px;

 }

.left-page ul.menu>li.current-menu-item > a ,

.left-page ul.menu>li.current-menu-parent>a{
    text-decoration: none;
    background: #50B041;
    box-shadow: 0px 0px 3px #2B2B2B;
    color: #ffffff !important;
    background: #e84a49; /* Old browsers */
    background: -moz-linear-gradient(top,  #e84a49 1%, #cf2122 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #e84a49 1%,#cf2122 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #e84a49 1%,#cf2122 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e84a49', endColorstr='#cf2122',GradientType=0 ); /* IE6-9 */
}

#menu-left-menu .sub-menu>li{

    padding:5px 0px;

    border-bottom: solid 1px #92a0aa;

}

#menu-left-menu .sub-menu>li:last-child{

    border-bottom: none;

}

.left-page .sub-menu>li a{

     color: #fff; text-decoration: none;

 }

.left-page .sub-menu>li a:hover{

    color: #75ad46; text-decoration: none;

}

.box-adress-item{

    padding: 0px 15px 10px 15px;

}

.box-adress-item span a{

    text-transform: uppercase;

    color: #223869;

    font-size: 10px; font-weight: bold;

}

.box-adress-item p{

    color: #223668;

    font-size: 11px;

}



.entry-title{

    font-size: 26px; color: #c9191b;

}

.content{

    text-align: justify;

}

.content .sub-title-content{

    font-size: 16px;

    font-weight: bold;

    text-transform: uppercase;

    color: #42aece;

}

.seldat_left_menu_class .current-menu-item>a, .seldat_top_menu_class .current-menu-item>a {

    color: #76C21D !important

}



/*menu main*/

#menu-main-menu>li.menu-item-has-children{

    position: relative;

}

#menu-main-menu>li.current-menu-ancestor > a{

    color: #FFFFFF;

    background: #149944;

}

#menu-main-menu>li.menu-item-has-children .sub-menu>li{

    min-width: 395px;

    float: left;

}

#menu-main-menu>li.menu-item-has-children>ul{

    position: absolute;

    top: 44px;

    /*left: -130px;*/

    left: 0px;

    background: #ffffff;

    z-index: 999;

    width: auto;

    display: inline-flex;

    padding: 15px 0px;

    -webkit-box-shadow: 1px 2px 9px -1px rgba(0,0,0,0.55);

    -moz-box-shadow: 1px 2px 9px -1px rgba(0,0,0,0.55);

    box-shadow: 1px 2px 9px -1px rgba(0,0,0,0.55);

    border: solid 2px #ca1a1a



}

.sub-menu a{

font-size: 14px;
    color: #0E0B0B;
     margin-left: 12px; 
    padding: 8px 25px;
    display: inline-block;
    font-weight: 500;
    line-height: 15px;
    background: url("../images/symbol.png") no-repeat;
    background-position: 0px;

}
.sub-menu a:hover{
    color: #ca1a1a;
}
.sub-menu .li{

    float: left; list-style: none;

}

.sub-menu .sub-menu {

    padding: 0px;

    margin: 0px;



}

.sub-menu li{


    float: left;

    display: inline-block;

    width: 100%;

    padding-right: 0px;

    padding-left: 0px;

}

.sub-menu .sub-menu a{

    color: #808080 !important;

    font-size: 13px;

    font-weight: normal;

}

.sub-menu .sub-menu a:hover{

    color: #7ebb4c !important;

}

.menu-item-has-children.open>ul{

    display: block;

}

#menu-main-menu .dropdown:hover{

    background-color: #ca1a1a;

}

#menu-main-menu>li.current_page_item{

    background-color: #ca1a1a;

}

#menu-main-menu>li.current_page_item>a{

    color: #FFFFFF;

    background: #ca1a1a;

}

#menu-main-menu>li.menu-item-has-children>ul{

    display: none;



}

#menu-main-menu>li.menu-item-has-children:hover>ul{

    display: block;

}
.service-left{
    float:left;
}
.service-right{
    float:right;
}

.left-page {

    float: left;

    width: 221px;

    margin-right: 5px;



}

.content-page{

    width: 560px;

    padding: 0px;

    margin: 0px;

    padding-top: 15px;

}

.right-page{

    float: right;

    width: 204px !important;

    padding: 0px;

    margin: 0px;

    z-index: 3;

}

#menu-item-144 a, #menu-item-242 a{

    color: #CA1A1A !important

}

li.dropdown:hover>div.dropdown-menu{

    display: block;

    top: 40px;

}



#menu-item-131:hover>ul.sub-menu {

    display: inline-block !important;

}

#menu-item-142:hover>ul.sub-menu {

    display: inline-block !important;

}

/*#menu-item-131>ul>li>a{*/

    /*color: #808080 !important;*/

    /*font-size: 13px;*/

    /*font-weight: normal;*/

/*}*/

#menu-item-131>ul>li>a:hover{

    color: #7ebb4c !important;

}

#menu-item-142>ul{

    width: 340px !important;

    display: inline-block;

}

#menu-item-131>ul{

    width: 340px !important;

    display: inline-block;

  }

/*#menu-item-142>ul>li>a{*/

    /*color: #808080 !important;*/

    /*font-size: 13px;*/

    /*font-weight: normal;*/

/*}*/

#menu-item-142>ul>li>a:hover{

    color: #7ebb4c !important;

}



.carousel-indicators .active{

    background: #ca1a1a;

}

.carousel-indicators{

    bottom: 0px !important;

}



#menu-left-menu .sub-menu li.current-menu-item{

    background: url("../images/row-1.png") right no-repeat;

}

#menu-main-menu>li.menu-item-has-children>a{

    background: url("../images/row-2.png") right no-repeat;

}

#menu-main-menu>li.menu-item-has-children>a:hover{

    background: #ca1a1a  url("../images/row-2.png") right no-repeat;

}

#menu-main-menu>li.current_page_item>a {

    /*background: #149944 url("../images/row-2.png") right no-repeat !important;*/

}

#menu-main-menu>li.current-menu-ancestor>a{

    background: #ca1a1a  url("../images/row-2.png") right no-repeat !important;

}

#wheelButtons {

    bottom: 0px !important;

}

#menu-item-116 a{

    padding: 11px 30px !important;

}





/* add new */

.wrap-about {

    padding: 10px 0 40px;

}

.banner-about {

    /* border: 2px solid #80b84d; */

    position: relative;

    margin-bottom: 20px;

}

.banner-about img {

    width: 100% !important;

    height: auto !important;

    vertical-align: top

}

.banner-about p {

    margin: 0;

}

.banner-about .caption {

    position: absolute;

    width: 100%;

    top:30px;

    text-transform: uppercase;

}

.banner-about .caption h1{

    font-size: 38px;

    color: #80b84d;

    font-weight: 400

}



.blue-color {

    color: #25939b;

}

.wrap-about .custom-bx {

    margin-top: 35px;

}

.wrap-about .custom-bx h4{

    font-weight: 400;

    margin-bottom: 35px;

}


.img-seldat{
    width: 100%;
    height: auto;
}
.head-new {

    color: #ca1a1a;

    font-weight: 400;

    padding: 10px 0 20px;

    margin: 0;

    line-height: 1;

}

.wrap-team {

    padding-bottom: 30px;

}

.box-team .row {

    margin:0 -12px;

}

.box-team .row > div {

    padding:0 12px;

}

.box-team .item {

    position: relative;

    border: 1px solid #c7c8cb;

    margin-bottom: 24px;

}

.box-team .item img {

    width: 100% !important;

    height: auto !important

}

.box-team .item p{

    margin: 0;

}

.box-team .item figcaption {

    padding: 6px 20px;

    line-height: 20px;

    position: absolute;

    color: #fff;

    background-color: #25939b;

    border-radius: 0 15px 0 0;

    position: absolute;

    left: 0;

    bottom: 0;

    font-size: 19px;

    text-transform: capitalize;

}



.wrap-job {

    margin-top: 35px;

    padding-bottom: 35px;

}

.wrap-job .sidebar-inc {

    float: left;

    width: 220px;

}

.wrap-job .sidebar-inc .head-side {

    text-transform: uppercase;

    padding-bottom: 10px;

    border-bottom: 1px solid #bcbcbc;

    line-height: 20px;

    margin: 0;

    font-weight: 700;

}

.wrap-job .sidebar-inc .location-job {

    margin-top: 15px;

}

.wrap-job .sidebar-inc .location-job h4{

    font-weight: 400;

    margin: 0;

    color: #333;

}

.wrap-job .sidebar-inc .location-job ul {

    padding-left: 15px;

    font-size: 14px;

    padding-bottom: 10px;

}

.wrap-job .sidebar-inc .location-job ul li{

    padding: 7px 0;

    padding-right: 30px;

    position: relative;

}

.wrap-job .sidebar-inc .location-job ul li a{

    color: #333;

}

.wrap-job .sidebar-inc .location-job ul li a:hover ,

.wrap-job .sidebar-inc .location-job ul li.active a ,

.wrap-job .sidebar-inc .location-job ul li.current_page_item a {

    color: #25939b;

}

.wrap-job .sidebar-inc .location-job ul li .number {

    position: absolute;

    right: 0;

    top:8px;

    min-width: 24px;

    text-align: center;

}



.wrap-job .content-inc {

    float: right;

    width: 720px;

}

.content-inc .table-condensed {

    margin-top: 31px;

    border: 1px solid #bcbcbc;

}

.content-inc .table-condensed .care {

    display: block;

    width: 0;

    height: 0;

    border-top: 5px solid transparent;

    border-bottom: 5px solid transparent;

    border-left: 7px solid #1b5a7d;

    margin-left: 15px;

}

.content-inc .table-condensed > thead > tr > th {

    border-bottom-color: #bcbcbc;

    height: 35px;

    vertical-align: middle;

}

.content-inc .table-condensed > tbody > tr > td {

    border-top-color: #bcbcbc;

    height: 48px;

    vertical-align: middle;

    max-width: 150px;

}

.content-inc .table-condensed > tbody > tr > td a{

    max-width: 220px;

    display: inline-block;

    color: #1b5a7d;

    line-height: 1.1;

}

.content-inc .table-condensed > tbody > tr > td a:hover {

    text-decoration: underline !important;

}

.content-inc .table-condensed .col-1 {

    width: 50px;

}

.content-inc .table-condensed .col-2 {

    width: 270px;

}

.content-inc .table-condensed .col-3 {

    width: 180px;

}

.content-inc .table-condensed .col-4 {

    width: 210px;

}

.head-job-inc {

    line-height: 20px;

    padding-bottom: 10px;

    border-bottom: 1px solid #bcbcbc;

    margin-bottom: 10px;

}

.head-job-inc h4{

    color: #25939b;

    font-size: 20px;

    font-weight: 400;

    margin: 0;

    line-height: inherit;

}

.head-job-inc p {

    margin: 0;

    color: #808080;

    padding-top: 5px;

    line-height: 15px;

}



.wrap-detail-job {

    position: relative;

    padding-right: 220px;

}

.detail-job h4{

    margin: 0;

    font-weight: 700;

    font-size: 16px;

}


.detail-job .box-pd {

    margin:20px 0 ;

}

.detail-job .box-pd ul {

    padding: 10px 0;

}



.box-job-inc {

    width: 185px;

    position: absolute;

    top:0;

    right: 0;

    border: 1px solid #bcbcbc;

    padding: 15px 12px;

}

.box-job-inc header {

    font-size: 14px;

    font-weight: 700;

    padding-top: 3px;

    padding-bottom: 8px;

    border-bottom: 1px solid #bcbcbc

}

.box-job-inc ul {

    padding: 7px 0;

    margin-bottom: 0px

}

.box-job-inc ul li {

    padding: 8px 0;

    font-size: 13px;

}

.box-job-inc ul li h5{

    font-weight: 700;

    margin: 0;

}

.box-job-inc ul li p{

    margin: 0;

    color: #808080

}

.btn-job{

    display: block;

    max-width:155px;

    background:#25939b;

    color: #fff;

    height: 31px;

    line-height: 29px;

    font-weight: bold;

    font-size: 14px;

    text-align: center;

    border: 0;

    width: 100%;

    border-radius: 4px;

    outline: 0;

}

.btn-job:hover {

    background-color: #80b84d

}



.head-modal {

    max-width: 640px;

    margin: 0 auto;

    padding-bottom: 5px;

    border-bottom: 1px solid #ccc;

    margin-bottom: 20px;

}

.head-modal h3{

    font-size: 20px;

    color: #333;

    margin: 0;

}

.head-modal p {

    font-size: 12px;

    padding-top: 5px;

    margin-bottom: 0;

}

.job-modal .modal-dialog{

    width: 768px;

    color: #808080;

    font-size: 13px;



}

.job-modal .modal-content {

    padding: 15px 0 5px;

    border-radius: 3px;

}

.job-modal .control-label {

  margin-bottom: 0;

  line-height: 20px;

  padding-top: 7px;

  font-weight: 500;

  text-align: right;

  display: block;

  margin-right: -18px;

  max-width: inherit;

}

.txt-color-red {

    color: red;

}

.job-modal .form-control{

    border-radius: 2px

}

.job-modal textarea.form-control{

    resize: none;

}



.job-modal .type-file {

    position: relative;

    overflow: hidden;

    display: inline-block;

    margin-top: 3px;

    vertical-align: middle;

}

.job-modal .type-file input{

    position: absolute;

    display: block;

    top: 0px;

    left: 0px;

    width: 100%;

    height: 100%;

    margin: 0;

    opacity: 0;

    filter: alpha(opacity=0);

    z-index: 1;

    font-size: 500px;

    cursor: pointer;

}

.job-modal .type-file span {

    width: 90px;

    height: 26px;

    font-size: 13px;

    color: #333;

    text-align: center;

    line-height: 24px;

    border: 1px solid #b9b9b9;

    display: inline-block;

    border-radius: 3px;

    background-image: -webkit-linear-gradient(bottom, #cfcfcf, #fbfbfb);

    background-image: -moz-linear-gradient(bottom, #cfcfcf, #fbfbfb);

    background-image: -o-linear-gradient(bottom, #cfcfcf, #fbfbfb);

    background-image: -ms-linear-gradient(bottom, #cfcfcf, #fbfbfb);

    background-image: linear-gradient(to top, #cfcfcf, #fbfbfb);

}

.job-modal .type-file:hover span{

    background-image: -webkit-linear-gradient(bottom, #fbfbfb, #cfcfcf);

    background-image: -moz-linear-gradient(bottom, #fbfbfb, #cfcfcf);

    background-image: -o-linear-gradient(bottom, #fbfbfb, #cfcfcf);

    background-image: -ms-linear-gradient(bottom, #fbfbfb, #cfcfcf);

    background-image: linear-gradient(to top, #fbfbfb, #cfcfcf);

}

.job-modal .name-file {

    display: inline-block;

    vertical-align: middle;

    margin-top: 3px;

    line-height: 24px;

    font-size: 13px;

    color: #25939b;

    margin-left: 15px;

}

.job-modal .name-file .remove-file {

    background: none;

    border: 0;

    outline: 0;

    color: #bb272d;

    font-weight:bold;

    font-size: 16px;

    margin-left: 5px;

}



.job-modal .close {

    position: absolute;

    width: 20px;

    height: 20px;

    right: -10px;

    top:-10px;

    border-radius: 50%;

    background: #fff;

    opacity: 1;

    color: #868686;

    font-size: 18px;

    border: 1px solid #9f9f9f;

    outline: 0;

}

.job-modal .close:hover {

    color: #333

}



.bread-bx {

    padding-left: 0;

    padding-bottom: 0;

}

.bread-bx a{

    color: #808080

}

.bread-bx a:hover ,.bread-bx .active{

    color: #25939b

}
.contact-us{
    margin-left: 120px;
}
input, textarea{
    width: 100%;
}
input[type="submit"]{
    width: 18%;
    height: 40px;
    margin-top:20px;
}

.bread-bx > li + li:before {

    font-family: FontAwesome;

    content: "\f105";

}

.filePdf{
                        margin-top: -8px;
                        display: block;
                        float: right;
                        position: relative;
                        text-align: center;
                        padding-left: 32px;
                        -webkit-border-radius: 2px;
                        -moz-border-radius: 2px;
                        border-radius: 2px;
                        background-color: #11627e;
                        -webkit-box-shadow: inset 0 2px #f86d6d;
                        -moz-box-shadow: inset 0 2px #f86d6d;
                        box-shadow: inset 0 2px #f86d6d;
                        border: solid 1px #a91111;
                        background: #f32e2e; 
                        background: -moz-linear-gradient(top,  #f32e2e 0%, #ca1a1a 100%); 
                        background: -webkit-linear-gradient(top,  #f32e2e 0%,#ca1a1a 100%); 
                        background: linear-gradient(to bottom,  #f32e2e 0%,#ca1a1a 100%); 
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f32e2e', endColorstr='#ca1a1a',GradientType=0 ); 

                    }
                    .filePdf:hover{
                        background: #db0606;
                        background: -moz-linear-gradient(top,  #db0606 0%, #aa1616 100%);
                        background: -webkit-linear-gradient(top,  #db0606 0%,#aa1616 100%); 
                        background: linear-gradient(to bottom,  #db0606 0%,#aa1616 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db0606', endColorstr='#aa1616',GradientType=0 );
                    }
                    .filePdf img{
                        position: absolute;
                        left: 9px;
                        top:5px;
                    }
                    .filePdf p{
                        border-left: 1px solid #B51A1A;
                        -webkit-box-shadow: -1px 0 #F95050;
                        -moz-box-shadow: -1px 0 #F95050;
                        box-shadow: -1px 0 #F95050;
                        padding: 5px 8px;
                        color: #fff;
                        text-transform: uppercase;
                        margin: 0;
                        font-size: 10px;
                        font-weight: 900;
                        line-height: 11px;
                    }
                    .filePdf p span{
                        display: block;
                        color: #6c1b1b;
                        font-weight: 700;
                        text-transform: none;
                        font-size: 11px;
                    }
.detail-job .box-pd li{
  list-style: initial;
}

