@CHARSET "UTF-8";

.wheel-container {
	width: 100%;
	height: 275px;
	position: relative;
	margin-bottom: 25px;
	background: transparent url(../images/wheel/bg-wheel.jpg) no-repeat center bottom;
}

.wheel-container a.navigation {
	position: absolute;
	display: block;
	top: 125px;
	width: 57px;
	height: 57px;
	z-index: 90;
}

.wheel-container a.navigation.prev {
	background: transparent url(../images/wheel/left.png) no-repeat 0px 0px;
	left: -10px;
}

.wheel-container a.navigation.next {
	background: transparent url(../images/wheel/right.png) no-repeat 0px 0px;
	right: -40px;
}

.wheel-container #wheel-holder {
	z-index: 1;
	position: absolute;
	right: 15px;
	bottom: -60px;
	width: 300px;
	background: transparent url(../images/wheel/shadow.png) no-repeat 5px -14px;
	text-align: center;
}

.wheel-container .wheel-image {
	position: absolute;
    right: -84px;
    bottom: -117px;
	width: 493px;
	height: 403px;
	z-index: 2;
}

.wheel-container .wheel-image img {
	display: block;
	position: absolute;
	top: -500px;
	left: 55px;
}

.wheel-container .wheel-content {
	position: absolute;
	top: 20px;
	left: 0;
	width: 240px;
	height: 275px;
	overflow: hidden;
}

.wheel-container .wheel-content .item {
	display: block;
	width: 208px;
	position: absolute;
	top: 0px;
	left: -213px; /* animate to 80px */
}

.wheel-container .wheel-content .item p {
	font-family: Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #a6a6a6;
}

.wheel-container .wheel-content .item H2 {
	color: #F32F17;
    font-size: 46px;
    text-shadow: 1px 0 0 #FFE9E6;
    font-family: 'Advent LT1',sans-serif;
    line-height: 57px;
    margin-bottom: 14px;
    font-weight: normal;
    border-bottom: 1px dotted #F32F17;
}

.wheel-content strong{
    color:#4d4d4d ; font-size: 12px;font-weight: normal;
}

.wheel-container .wheel-navigator {
	position: absolute;
	left: 230px;
	top: 285px;
}

.wheel-container .wheel-navigator a {
	display: block;
	float: left;
	width: 6px;
	height: 6px;
	margin-right: 6px;
	background: transparent url(../images/wheel/nav-dot.png) no-repeat 0px 0px;
}

.wheel-container .wheel-navigator a.current {
	background: transparent url(../images/wheel/nav-dot.png) no-repeat 0px -6px;
}

.wheel-container .wheel-navigator a:hover {
	opacity: 0.8;
	filter:alpha(opacity=80);
}

#menu-comment-ca-marche .current-menu-item a:hover,
#menu-how-it-works .current-menu-item a:hover {
	opacity: 0.9;
	filter:alpha(opacity:90);
}

#menu-comment-ca-marche .current-menu-item a,
#menu-how-it-works .current-menu-item a {
	font-weight: bold;
}

