@charset "UTF-8";
body {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  position: relative; }

@media (min-width: 1400px) {
  .container {
    width: calc(100% - 100px); } }
section {
  padding-top: 60px; }

.wrap {
  position: relative; }

.dropdown-menu-extend {
  position: absolute;
  top: 100%;
  border-radius: 0;
  left: 0;
  right: 0;
  margin: -1px;
  min-height: 300px;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  display: none; }
  .dropdown-menu-extend .dropdown-menu {
    top: 0;
    left: 0;
    display: block;
    border-radius: 0;
    margin: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    background: transparent; }
    .dropdown-menu-extend .dropdown-menu li.dropdown-menu-sub .menu-detail {
      position: absolute;
      left: 100%;
      top: 0;
      bottom: 0;
      min-width: 500px;
      display: none;
      padding: 5px; }
      .dropdown-menu-extend .dropdown-menu li.dropdown-menu-sub .menu-detail .row {
        margin-left: 0;
        margin-right: 0; }
    .dropdown-menu-extend .dropdown-menu li.dropdown-menu-sub:hover .menu-detail, .dropdown-menu-extend .dropdown-menu li.dropdown-menu-sub.open .menu-detail {
      display: flex;
      align-items: center; }

#top-header .navbar {
  margin-bottom: 0; }
  #top-header .navbar .navbar-nav li a {
    padding: 10px 5px; }
#top-header .toolbar-separator {
  height: 64px;
  width: 1px;
  background: rgba(0, 0, 0, 0.12); }
#top-header a {
  color: #848484; }

#content-wrap {
  background: white;
  padding: 20px 0;
  position: relative; }

.navbar-landing {
  margin-bottom: 0; }
  .navbar-landing .nav-effect > li {
    padding: 0 15px 20px 15px; }
    .navbar-landing .nav-effect > li > a {
      padding: 5px 0;
      color: black;
      position: relative;
      display: inline-block;
      outline: none;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 400;
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.3); }
      .navbar-landing .nav-effect > li > a:after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background: #012147;
        content: '';
        opacity: 0;
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        -moz-transition: opacity 0.3s, -moz-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        transform: translateY(10px); }
    .navbar-landing .nav-effect > li:not(.active) > a:hover, .navbar-landing .nav-effect > li:not(.active) > a:focus {
      background-color: transparent; }
      .navbar-landing .nav-effect > li:not(.active) > a:hover:after, .navbar-landing .nav-effect > li:not(.active) > a:focus:after {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        transform: translateY(0px); }
    .navbar-landing .nav-effect > li.active > a, .navbar-landing .nav-effect > li.open > a {
      color: #012147;
      background: transparent; }
      .navbar-landing .nav-effect > li.active > a:after, .navbar-landing .nav-effect > li.open > a:after {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        transform: translateY(0px); }
      .navbar-landing .nav-effect > li.active > a:hover, .navbar-landing .nav-effect > li.active > a:focus, .navbar-landing .nav-effect > li.open > a:hover, .navbar-landing .nav-effect > li.open > a:focus {
        background-color: transparent; }
  .navbar-landing .navbar-header {
    padding-left: 15px; }
  .navbar-landing .navbar-toggle {
    border: none;
    color: #012147; }

.landing-sub .dropdown-menu {
  background: #f3f3f4;
  border-radius: 0;
  border: none; }
  .landing-sub .dropdown-menu > li > a {
    padding: 10px 40px; }
    .landing-sub .dropdown-menu > li > a:hover, .landing-sub .dropdown-menu > li > a:active, .landing-sub .dropdown-menu > li > a:focus {
      background: #012147;
      color: #fff; }
  .landing-sub .dropdown-menu > li.open > a {
    background: #012147;
    color: #fff; }
.landing-sub:hover > .dropdown-menu, .landing-sub:active > .dropdown-menu {
  display: block; }

.landing-title {
  font-size: 40px;
  text-transform: uppercase;
  color: #012147;
  text-align: center;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .landing-title .landing-line {
    width: 60px;
    height: 1px;
    background: rgba(0, 0, 0, 0.2);
    display: block;
    margin-left: 10px;
    margin-right: 10px; }

footer {
  padding-bottom: 30px;
  padding-top: 30px; }
  footer .navbar-landing li a {
    color: #848484; }
  footer .navbar-landing .navbar-nav.navbar-right li a {
    padding: 10px 5px; }

#dynamic-content {
  min-height: 500px; }

#landing-services {
  padding: 0 100px; }
  #landing-services .item {
    text-align: center;
    margin: 15px 10px;
    max-width: 250px; }
    #landing-services .item .item-img {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      overflow: hidden;
      margin-left: auto;
      margin-right: auto;
      display: block;
      -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
      mask-image: radial-gradient(circle, white, black); }
      #landing-services .item .item-img img {
        width: 140px;
        height: 140px;
        border-radius: 50%; }
    #landing-services .item .item-title-text {
      color: #012147;
      text-transform: uppercase;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      transition: all 0.5s; }
    #landing-services .item:hover, #landing-services .item:active {
      cursor: pointer; }
      #landing-services .item:hover .item-title-text, #landing-services .item:active .item-title-text {
        margin-top: 30px; }
    #landing-services .item .item-content {
      border: 1px solid rgba(0, 0, 0, 0.2);
      padding: 5px;
      margin-top: -60px;
      padding-top: 60px;
      min-height: 250px;
      height: 250px;
      color: rgba(0, 0, 0, 0.8); }
      #landing-services .item .item-content .item-content-detail {
        padding: 0; }
      #landing-services .item .item-content:hover .item-content-detail {
        display: none; }
    #landing-services .item .item-divider {
      margin-right: auto;
      margin-left: auto;
      width: 50px;
      height: 1px;
      background: rgba(0, 0, 0, 0.4);
      margin-bottom: 10px; }

.container-content {
  margin-right: auto;
  margin-left: auto;
  padding: 20px 250px 50px 250px;
  text-align: center; }

a.read-more {
  font-weight: bold; }

button.btn {
  padding: 10px 30px !important;
  font-size: 14px !important;
  margin: 0 5px; }
button.read-more {
  padding-left: 50px;
  padding-right: 50px;
  text-transform: uppercase;
  border-radius: 3px; }

.btn-effect {
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 0;
  border-radius: 3px;
  background: #001429; }
  .btn-effect:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: #012147; }
  .btn-effect:hover:after, .btn-effect:active:after {
    width: 100%; }

.form-control::-webkit-input-placeholder {
  font-style: italic; }
.form-control:-moz-placeholder {
  font-style: italic; }
.form-control::-moz-placeholder {
  font-style: italic; }
.form-control:-ms-input-placeholder {
  font-style: italic; }
.form-control:focus, .form-control:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #9a9a9a; }

.parallax-section {
  background-attachment: fixed;
  min-height: 500px;
  height: 500px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-items: center;
  color: #fff;
  position: relative; }
  .parallax-section .parallax-text {
    font-size: 30pt;
    font-weight: bold; }
  .parallax-section .text-boxed {
    padding-left: 100px;
    padding-right: 100px;
    background: rgba(255, 255, 255, 0.2); }
  .parallax-section .parallax-modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-items: center; }
  .parallax-section ul {
    list-style: none; }

.worldwide {
  min-height: 500px;
  position: relative; }
  .worldwide .main {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%); }

.border-length {
  margin: auto;
  width: 700px;
  position: relative;
  padding: 50px 100px; }
  .border-length:before {
    content: '';
    width: 150px;
    height: 50px;
    border-top: 1px solid;
    border-left: 1px solid;
    position: absolute;
    left: 0;
    top: 0; }
  .border-length:after {
    content: '';
    width: 150px;
    height: 50px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    position: absolute;
    right: 0;
    bottom: 0; }

.video-bg {
  position: relative; }
  .video-bg .video-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex; }
  .video-bg .play-btn {
    font-size: 100px;
    margin: auto;
    position: relative;
    color: white;
    background: transparent;
    padding: 0;
    outline: none;
    border: none; }

.back-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  outline: none;
  color: #d1d1d1;
  border: 2px solid #d1d1d1;
  z-index: 999; }

.float_center {
  float: right;
  position: relative;
  left: -50%;
  /* or right 50% */
  text-align: left; }
  .float_center > .child {
    position: relative;
    left: 50%; }
    .float_center > .child > .item {
      float: left;
      margin: 0 6px; }

.clear {
  clear: both; }

/* entire container, keeps perspective */
.item {
  perspective: 1000;
  max-width: 250px;
  width: 250px;
  height: 330px; }
  .item:hover .flipper, .item.hover .flipper {
    transform: rotateY(180deg); }

/* flip the pane when hovered */
/* K├¡ch th╞░ß╗¢c c├íc mß║╖t */
.front, .back {
  max-width: 250px;
  width: 250px;
  height: 330px; }

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative; }

/* hide back of pane during swap - ß║¿n c├íc mß║╖t sau (back face) khi ho├ín chuyß╗ân c├íc mß║╖t */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; }

/* front pane, placed above back */
.front {
  z-index: 2;
  transform: rotateY(0deg); }

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg); }
  .back .item-img {
    border: 4px solid #fff; }
  .back .item-content {
    background: #012147;
    border: 2px solid #fff;
    padding: 10px !important; }
    .back .item-content .content-wrap {
      border: 1px solid #fff;
      height: 100%;
      padding: 60px 5px 5px 5px; }
      .back .item-content .content-wrap .item-content-readmore {
        display: block !important; }
      .back .item-content .content-wrap .item-title-text {
        color: #fff !important; }
      .back .item-content .content-wrap .item-link {
        padding: 10px 40px;
        text-transform: uppercase;
        margin-top: 20px; }
        .back .item-content .content-wrap .item-link a {
          text-decoration: none; }

/* Page service common rule */
.banner-static {
  height: 450px;
  background-color: #e8e8e8; }

.section-text {
  min-height: 100px;
  padding: 60px 0; }

/*# sourceMappingURL=p.custom.css.map */
