/*==========  Non-Mobile First Method  ==========*/
@media (min-width: 1200px) {
  .container-content {
    padding: 20px 250px 50px 250px; } }
/* Large Devices, Wide Screens */
@media (max-width: 1200px) {
  .container-content {
    padding: 20px 150px 50px 150px; } }
@media (min-width: 1000px) {
  .container-it-1000 {
    width: 1000px; } }
/* Medium Devices, Desktops */
@media (max-width: 992px) {
  .container-content {
    padding: 20px 50px 50px 50px; }

  .flex-row-column {
    display: flex;
    align-items: center;
    flex-direction: column; }

  .container-it-1000 {
    width: 100%; }

  .it-teams-section {
    flex-direction: column; }

  .flex-stretch-responsive {
    display: block; }

  .container-content-1000 {
    width: 100%; } }
/* Small Devices, Tablets */
@media (min-width: 769px) {
  #nav-menu .navbar-landing {
    min-height: 0;
    padding: 20px 0; }
    #nav-menu .navbar-landing .container-fluid {
      display: flex;
      align-items: center; }
  #nav-menu .landing-sub > .dropdown-menu {
    position: absolute; } }
/* Small Devices, Tablets */
@media (max-width: 768px) {
  .container-content {
    padding: 20px 50px 50px 50px; }

  .border-length {
    width: 100%; }

  .section-text .row {
    padding: 0; }

  #nav-menu .navbar-landing {
    min-height: 0;
    padding: 0; }
  #nav-menu .navbar-header {
    display: flex;
    align-items: center; }
    #nav-menu .navbar-header .navbar-toggle {
      margin-left: auto; }
  #nav-menu .landing-sub:hover > .dropdown-menu, #nav-menu .landing-sub:active > .dropdown-menu {
    display: block;
    position: relative;
    float: none; }

  footer .navbar-nav > li {
    float: left; } }
/* Extra Small Devices, Phones */
@media (max-width: 640px) {
  .parallax-section .parallax-text {
    font-size: 23pt; }

  .section-text .row {
    padding: 0; }

  .container-content-min {
    width: 100%; }

  .container-content-medium {
    width: 100%; }

  .container-content-800 {
    width: 100%; }

  .wrap-image-text {
    flex-direction: column; }

  .flex-wrap-small {
    display: flex;
    flex-wrap: wrap; } }
/* Custom, iPhone Retina */

/*# sourceMappingURL=responsive.css.map */
