.staffing-left-title {
  text-align: right;
  color: #012147;
  font-size: 20pt;
  line-height: 35px;
  font-weight: bold;
  text-transform: uppercase; }

.staffing-bg-contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  height: 500px;
  max-height: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px; }
  .staffing-bg-contain .bg-inside-title {
    font-weight: bold; }
  .staffing-bg-contain .bg-inside-list {
    list-style: none;
    -moz-padding-start: 0;
    -webkit-padding-start: 0; }

.staffing-recruiting-column ul {
  list-style: none;
  -moz-padding-start: 0;
  -webkit-padding-start: 0; }
.staffing-recruiting-column .row {
  padding: 0;
  margin: 0; }

/*# sourceMappingURL=staffing.css.map */
